<!doctype html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <style rel="stylesheet">
        body{
            background: #F0F0F0;
        }
        .form-horizontal{
            width: 100%;
            margin-top: 1em;
        }
        .form-horizontal .control-group{
            margin-bottom: 8px;
            margin-right: 1em;
        }
        .form-horizontal .controls{
            margin-left: 120px;
        }
        .form-horizontal .control-label{
            float: left;
            width: 100px;
            padding-top:5px;
            text-align: right;
            cursor: default;
        }
        .label{
            cursor: default;
        }
        .controls{
            margin-top:5px;
        }
        .container{
            width:100%;
        }

        .panel {
            margin: 5%;
            margin-top: 15px; 
            margin-bottom: 5px;
            background-color: white;
            min-height: 235px;
            border-width: 1px;
            border-style: solid; 
            border-color: #D9D9D9
        }
 
        .button-panel{
            margin-left: 5%;
            margin-right: 5%;
            float: right;
        }

        .layui-layer-content
        {
            margin: 1em;
        }

        .layui-layer-content#conflict_count
        {
            margin: 1em;
            max-height: 70px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="panel">
        <form role="form" class="form-horizontal" method="post" action="/sync/file_state">
            <div class="control-group">
                <label class="control-label" for="uid">
                    {% if file_type == 'folder' %}
                        {{ _('Site folder') }} :
                    {% else %}
                        {{ _('Site file') }} :
                    {% endif %}
                </label>
                <div class="controls">
                    {% if state in ('new_file', 'new_folder', ) %}
                            {{ _('None') }}
                    {% elif state != 'conflict_remote_modify' %}
                        <a title="{{ server_path }}" href="/sync/open_item" class="server_path"
                            id="server_path" data-instance_url="{{ instance_url }}" data-uid="{{ uid }}">
                            {{server_path.split('/')[-1] or '' }}
                        </a>
                    {% else %}
                        <p style="color: red">{{ _('Already deleted') }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="path">
                    {% if file_type == 'folder' %}
                        {{ _('Local folder') }} :
                    {% else %}
                        {{ _('Local file') }} :
                    {% endif %}
                </label>
                <div class="controls">
                    {% if state in ('new_site_folder', 'local_remove', ) %}
                        {{ _('None') }}
                    {% elif state != 'conflict_local_modify' %}
                        <a title="{{ local_path }}" href="/ui/open" class="local_path" data-local_path="{{local_path}}"
                            id="local_path" data-path="{{ local_path }}" style="word-wrap: break-word;">
                            {{ local_path.split('\\')[-1] or '' }}
                        </a>
                    {% else %}
                        <p style="color: red">{{ _('Already deleted') }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Sync_time">{{ _('Sync time') }} :</label>
                <div class="controls">
                    {{ last_sync_time }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="state">{{ _('Status') }} :</label>
                <div class="controls" id="state_info">
                    {% if state in ('new_file', 'new_folder', 'new_site_folder') %}
                        <p>{{ _('New') }}</p>
                    {% elif state in ('normal_file', 'child_folder') %}
                        <p>{{ _('Normal') }}</p>
                    {% elif state == 'local_modify' %}
                        <p style="color: red">{{ _('The local has changed!') }}</p>
                    {% elif state == 'remote_modify' %}
                        <p style="color: green">{{ _('The site has updated!')}}</p>
                    {% elif state == 'conflict_both_modify' %}
                        <p style="color: red">{{ _('Conflict') }}, {{ _('The local file(version {}) and site file both changed.').format(local_file_revision) }}</p>
                        <p>{{ _('You can compare the different content of these file and merge it into local file.') }}</p>
                    {% elif state == 'conflict_remote_modify' %}
                        <p style="color: red">{{ _('Conflict') }}, {{ _('The site file is deleted.') }}</p>
                    {% elif state == 'conflict_local_modify' %}
                        <p style="color:red">{{_('Conflict')}}, {{ _('The local file is deleted.') }}</p>
                    {% elif state == 'local_remove' %}
                        <p style="color: red">{{ _('The local file is deleted.') }}</p>
                    {% endif %}
                    <a href="#" id="conflict_count" style="display: none"> </a>
                </div>
            </div>
            {% if local_remove %}
            <div class="control-group sync-display" id="local_remove_group">
                <label class="control-label">{{ _('Locally removed') }} :</label>
                <div class="controls">
                    {% for item in local_remove %}
                    <a href="/sync/ui_item_state" title="{{ item.local_path }}" class="remove_item" data-path="{{ item.local_path }}" style="word-wrap: break-word;">{{ item.name }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </form>
    </div>
    <div class="button-panel">
        {% if state in ('new_file', 'local_modify', 'child_folder', 'new_folder') %}
            <a class="btn download_upload" href="/worker/new/sync" data-uid="{{ uid }}"
                data-oc_server="{{ oc_server }}" data-account="{{ account }}" data-instance="{{ instance }}"
                data-path="{{ local_path }}" data-server_path="{{ server_path }}"  data-token="{{ token }}" data-version="*"
                data-sync_type="push" data-action="upload"
                data-build_number="*" type="button">
                    <i class="fa fa-long-arrow-up fa-1"></i>
                    {{ _('Upload') }}
            </a>
        {% endif %}
        {% if state in ('local_modify', ) %}
            <a class="btn resolve_conflict" data-uid="{{ uid }}" data-id="{{ id }}"
                data-oc_server="{{ oc_server }}" data-account="{{ account }}" data-instance="{{ instance }}"
                data-local_path="{{ local_path }}"  data-token="{{ token }}" data-version="*"
                data-action="use_remote" data-sync_type="pull" data-build_number="*" type="button"> 
                    <i class="fa fa-ban fa-1"></i>
                    {{ _('Discard change the local file') }}
            </a>
        {% endif %}
        {% if state in ('remote_modify', 'child_folder', 'new_site_folder') %}
            <a class="btn download_upload" href="/worker/new/sync" data-uid="{{ uid }}"
                data-oc_server="{{ oc_server }}" data-account="{{ account }}" data-instance="{{ instance }}"
                data-path="{{ local_path }}" data-server_path="{{ server_path }}" data-token="{{ token }}" data-version="*" data-sync_type="pull"
                data-build_number="*" type="button" data-action="download">
                    <i class="fa fa-long-arrow-down fa-1"></i>
                    {{ _('Download') }}
            </a>
        {% endif %}
        {% if state in ('conflict_both_modify') %}
            <a class="btn resolve_conflict" data-uid="{{ uid }}" data-id="{{ id }}"
                data-oc_server="{{ oc_server }}" data-account="{{ account }}" data-instance="{{ instance }}"
                data-local_path="{{ local_path }}"  data-token="{{ token }}" data-version="*"
                data-action="use_remote" data-sync_type="pull" data-build_number="*" type="button"> 
                    <i class="fa fa-ban fa-1"></i>
                    {{ _('Discard change the local file') }}
            </a>
            <a class="btn resolve_conflict" data-uid="{{ uid }}" data-id="{{ id }}"
                data-oc_server="{{ oc_server }}" data-account="{{ account }}" data-instance="{{ instance }}"
                data-local_path="{{ local_path }}"  data-token="{{ token }}" data-version="*"
                data-action="use_local" data-sync_type="push" data-build_number="*" type="button">
                    <i class="fa fa-long-arrow-up fa-1"></i>
                    {{ _('Forced upload') }}
            </a>
        {% elif state == 'conflict_remote_modify' %}
            <a class="btn resolve_conflict" data-uid="{{ uid }}" data-id="{{ id }}"
                data-oc_server="{{ oc_server }}" data-account="{{ account }}" data-instance="{{ instance }}"
                data-local_path="{{ local_path }}"  data-token="{{ token }}" data-version="*"
                data-build_number="*" data-action="reserve_local"
                data-sync_type="push" type="button">
                    <i class="fa fa-long-arrow-up fa-1"></i>
                    {{ _('Upload again') }}
            </a>
        {% elif state == 'conflict_local_modify' %}
            <a class="btn resolve_conflict" data-uid="{{ uid }}" data-id="{{ id }}"
                data-oc_server="{{ oc_server }}" data-account="{{ account }}" data-instance="{{ instance }}"
                data-local_path="{{ local_path }}"  data-token="{{ token }}" data-version="*"
                data-build_number="*" data-action="reserve_remote"
                data-sync_type="pull" type="button">
                    <i class="fa fa-long-arrow-down fa-1"></i>
                    {{ _('Download again') }}
            </a>
        {% endif %}
        {% if state == 'local_remove' %}
            <a class="btn reserve" href="/filestore/reserve_action" data-path="{{ local_path }}" data-action="remote-remove" data-file_type="{{ file_type }}" data-oc_server="{{ oc_server }}" data-account="{{ account }}" data-instance="{{ instance }}" data-token="{{ token }}" type="button">
                <i class="fa fa-long-arrow-up fa-1"></i>
                {{ _("Remote remove") }}
            </a>
            <a class="btn reserve" href="/filestore/reserve_action" data-path="{{ local_path }}" data-action="download" data-file_type="{{ file_type }}" data-oc_server="{{ oc_server }}" data-account="{{ account }}" data-instance="{{ instance }}" data-token="{{ token }}" type="button">
                <i class="fa fa-long-arrow-down fa-1"></i>
                {{ _("Local reserve") }}
            </a>
        {% endif %}
    </div>
</div>
<div id="conflict_layer">

</div>
<script type="text/javascript" src="/static/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/jquery.jsonp.min.js"></script>
<script type="text/javascript" src="/static/layer/layer.js"></script>
<script type="text/javascript">
    document.onselectstart = function(){return false;};
    Array.prototype.contains=function(obj){
        var index = this.length;
        while (index--){
            if(this[index] == obj){
                return true;
            }
        }
        return false;
    }
    var conflict_code = '';
    if(!['new_file', 'new_folder', 'new_site_folder','local_remove', ].contains('{{state}}'))
    {
        $.ajax({
            cache: false,
            url: '/filestore/conflicts',
            type: 'POST',
            data: {
                uid: "{{ root_uid }}",
                oc_server: "{{ oc_server }}",
                account: "{{ account }}",
                instance: "{{ instance }}",
                root_local_folder: $('#local_path').data('local_path'),
                token: "{{ token }}",
                version: "*",
                build_number: "*"
            },
            dataType: 'json',
            success: function(d){
                if (d.conflicts.length != 0)
                {
                    $('#conflict_count').show();
                    $('#conflict_count').html('{{ _("There are {} files conflict") }}'.replace('{}', d.conflicts.length))
                    d.conflicts.forEach(function(item, index, array){
                        var state_url = '/sync/ui_item_state?path=' + item.local_path;
                        var file_name = item.server_path.split('/').reverse()[0] + ' '
                        conflict_code += file_name.link(state_url);
                        conflict_code += '<br>';
                    });
                };
            }
        });
    }

    // 所有的事件处理
    $(document.body).on('click', '.resolve_conflict', function(){
        // 解决冲突
        var that = $(this);
        var action = that.data('action');
        var msg = '';
        switch (action) {
            case 'use_remote':
                msg = "是否放弃当前文件的本地修改？<br>本地修改将备份到同步区的 .edo 文件夹";
                break;
            case 'use_local':
                msg = "是否强制上传当前文件？";
                break;
            case 'reserve_local':
                msg = "是否重新上传当前文件？";
                break;
            case 'reserve_remote':
                msg = "是否重新下载当前文件？";
                break;
        }
        layer.confirm(
            msg, {icon: 3, title: '提示'},
            yes=function() {
                native.hideWindow();
                $.ajax({
                    cache: false,
                    url: '/worker/new/resolve_conflict',
                    type: 'POST',
                    data:{
                        oc_server: that.data('oc_server'),
                        account: that.data('account'),
                        instance: that.data('instance'),
                        token: that.data('token'),
                        ids: that.data('id'),
                        action: action,
                        version: that.data('version'),
                        build_number: that.data('build_number')
                    },
                    dataType: 'json',
                    success: function(){
                        //关闭窗口
                        native.closeWindow();
                    }
                });
            },
            cancel=function(index) {
                layer.close(index);
            }
        );
        return false;
    }).on('click', '#conflict_count', function(){
        // 点击【有 n 项冲突】的链接，查看具体的冲突清单
        layer.open({
            shade: false,
            closeBtn: 1,
            title: '{{ _("There files conflict occurred when synchronizing, please resolve these conflicts") }}',
            content: conflict_code
        });
        return false;
    }).on('click', '#server_path', function(){
        // 点击站点文件夹链接，在浏览器中打开站点文件夹进行查看
        $.ajax({
            cache: false,
            url: $(this).attr('href'),
            type: 'POST',
            data: {
                instance_url: $(this).data('instance_url'),
                uid: $(this).data('uid')
            }
        });
        return false;
    }).on('click', '#local_path', function(){
        // 点击本地文件夹链接，在文件管理器中打开本地文件夹进行查看
        $.ajax({
            cache: false,
            url: $(this).attr('href'),
            type: 'POST',
            data: {
                local_path: $(this).data('path')
            }
        });
        return false;
    }).on('click', '.download_upload', function(){
        // 上传或下载文件
        var action = $(this).data('action');
        $.ajax({
            cache: false,
            url: $(this).attr('href'),
            type: 'POST',
            data:{
                uid: $(this).data('uid'),
                oc_server: $(this).data('oc_server'),
                account: $(this).data('account'),
                instance: $(this).data('instance'),
                // I don't really understand why we were omitting parameter value based on `action`
                // path: (action == 'upload') ? ($(this).data('path')) : (''),
                // server_path: (action == 'download') ? ($(this).data('server_path')) :(''),
                path: $(this).data('path'),
                server_path: $(this).data('server_path'),
                token: $(this).data('token'),
                version: $(this).data('version'),
                build_number: $(this).data('build_number'),
                sync_type: $(this).data('sync_type')
            },
            dataType: 'json',
            success: function (d) {
                //关闭窗口
                native.closeWindow();
            }
        });
        return false;
    }).on('click', '#remove', function(){
        var remove_button = this
        layer.confirm('{{ _("Site file and local file will be deleted, Are you sure?") }}',{
            title: false,
            closeBtn: 0,
            btn: ['{{_( "Yes" )}}', '{{ _("No") }}']
        }, function(){
            native.hideWindow();
            $.ajax({
                cache: false,
                url: $(remove_button).attr('href'),
                type: 'POST',
                data:{
                    oc_server: $(remove_button).data('oc_server'),
                    account: $(remove_button).data('account'),
                    instance: $(remove_button).data('instance'),
                    local_path: $(remove_button).data('path'),
                    token: $(remove_button).data('token'),
                    version: $(remove_button).data('version'),
                    build_number: $(remove_button).data('build_number'),
                    sync_type: $(remove_button).data('sync_type'),
                    delete_file: true,
                    delete_site_file: true
                },
                dataType: 'json',
                success: function(d){
                    //关闭窗口
                    native.closeWindow();
                }
            });
        });
        return false;
    }).on('click', '.reserve', function() {
        $.ajax({
            cache: false,
            url: $(this).attr('href'),
            type: 'POST',
            data: {
                path: $(this).data('path'),
                action: $(this).data('action'),
                file_type: $(this).data('file_type'),
                oc_server: $(this).data('oc_server'),
                account: $(this).data('account'),
                instance: $(this).data('instance'),
                token: $(this).data('token'),
            },
            dataType: 'json',
            success: function(d) {
                native.closeWindow();
            }
        });
        return false;
    }).on('click', '.remove_item', function() {
        $.ajax({
            etarget: $(this),
            cache: false,
            url: $(this).attr('href'),
            type: 'GET',
            data: {
                path: $(this).data('path')
            },
            dataType: 'json',
            success: function(d) {
                native.closeWindow();
            }
        });
        return false;
    });
</script>
</body>
