<!doctype html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <form role="form" class="form-horizontal" method="post" action="/sync/file_property">
            <div class="control-group">
                <label class="control-label" for="uid"><strong>站点文件夹</strong></label>
                <div class="controls" style="padding-top: 1%;">
                    <a href="/sync/open_item" class="syncfolder_url"
                       id="syncfoder_url" data-id="{{ id }}" data-uid="{{ uid }}">
                        {{ title }}
                    </a>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="path"><strong>本地文件夹</strong></label>
                <div class="controls">
                    <label id="path">{{ local_path }}</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="create_time"><strong>创建时间</strong></label>
                <div class="controls">
                    <label >{{ create_time }}</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="modify_time"><strong>修改时间</strong></label>
                <div class="controls">
                    <label >{{ modify_time }}</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="size"><strong>文件大小</strong></label>
                <div class="controls">
                    <label>{{ file_size }}</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="state"><strong>文件状态</strong></label>
                <div class="controls">
                    <label>{{ file_state }}</label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button id="submit-delete" type="button" class="btn btn-lg btn-danger">修改冲突</button>
                </div>
            </div>

        </form>
    </div>
</div>
<script type="text/javascript" src="/static/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/jquery.jsonp.min.js"></script>
</body>
