{% extends "base.html" %}

{% block headers %}
{{ super() }}
<style>
  .hidden-block{
    display: None;
  }
</style>
{% endblock %}

{% block main_content %}
  <div class="tab-pane active" id="workers">

    <div style="">
    
     <h5>  {{_("file edit application")}} </h5>
    
     <div class="well well-small">
     {{_("set edit program for different file type")}}
     </div>
        
      <!-- search box -->
      <div class="controls controls-row">
        <form class="form-search">
          <input type="text" name="fileext" class="span5 input-medium search-query" placeholder="{{_('input file extention, eg: .mp3')}}" required>
          <button type="submit" class="span2 btn"><i class='icon-search'></i>{{_("search edit program")}}</button>
        </form>
      </div>

      <!-- progcess bar -->
      <div class='hidden-block' id='processbar-control'>
        <div class="progress progress-striped active" style="margin: 30px auto;">
          <div class="bar" style="width: 100%;"></div>
        </div>
      </div>

      <!-- program list -->
      <div class='hidden-block controls controls-row' style='margin: 40px auto;' id='programlist-control'>
        <select class='span3' id='programlist'>
        </select>
        <!-- set button -->
        <a class="btn btn-primary span2" type="button" id='set-as-default' href="/admin/default_progs">
          {{_('set as default')}}
        </a>
      </div>

      <!-- no programs found -->
      <div class='hidden-block' style='margin-top:40px;' id="no-programs-find">
          <p class="text-warning text-center"><i class='icon-exclamation-sign'></i>{{_("No Proper Programs Found")}}</p>
      </div>

      <!-- notify user -->
      <div class='hidden-block' style='margin-top:40px;' id='user-notify'>
          <p class='text-success text-center'>{{_("Setting Save Successfully.")}}</p>
      </div>

      <!-- show server message -->
      <div style='margin-top:40px;' id='server-msg'>

      </div>

    </div>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">

  // loading process
  var show_processbar = function(){
    $('#processbar-control').removeClass('hidden-block');
    $('#programlist-control').addClass('hidden-block');
    $('#no-programs-find').addClass('hidden-block');
    $('#user-notify').addClass('hidden-block');
  };

  var hide_processbar = function(){
    $('#processbar-control').addClass('hidden-block');
  };

  // search button event
  $('form.form-search').on('submit', function(){

    $('#programlist-control').addClass('hidden-block');

    var input = $(this).find('input[type="text"]');

    var ext = "";
    var re = /.*(\.[\w]+)/i;
    var found = input.val().match(re);
    if(found){
        ext = found[1];
    }else{
        alert("{{_('file extention is required')}}");
    }

    if(ext){
      $.ajax({
        etarget: $(this),
        url: '/admin/default_progs',
        dataType: 'JSON',
        data: {
          'fileext': ext,
        },
        type: 'GET',
        beforeSend: show_processbar,
        complete: hide_processbar,
        success: function(data){
            if(data && data.length > 0){
                $('#no-programs-find').addClass('hidden-block');
                $('#programlist-control').removeClass('hidden-block');
                var list = $("#programlist");
                list.children().remove();
                $.each(data, function(index, item){
		    if (index == 0){
		        list.append('<option selected>' + item + '</option>');
		    }else{
		        list.append('<option>' + item + '</option>');
		    }
                });
            }else{
                $('#no-programs-find').removeClass('hidden-block');
            }
        }
      });
    }else{
      input.focus();
    }

    return false;
  });

  // set button event
  $('#set-as-default').click(function(){
    var name = $('#programlist').val();
    $.ajax({
      etarget: $(this),
      url: $(this).attr('href'),
      dataType: 'JSON',
      data: {
        'progname': name,
      },
      type: 'POST',
      success: function(response){
        $('#programlist-control').addClass('hidden-block');
        if(response.status == 0){
            $('#user-notify').removeClass('hidden-block');
        }else{
            server_msg = $('#server-msg');
            server_msg.children().remove();
            server_msg.append('<p class="text-error text-center">' + response.msg + '</p>');
        }
      }
    });
  });
</script>
{% endblock %}