{% macro form_radio(id, name, value, filed, icon_name) %}
    <div class="radio">
        <label>
            <input type="radio" name={{ id }} id={{ id }} value={{ value }} {% if filed == value %}checked {% endif %}>
            <div><i class={{icon_name}}></i>{{ _(name) }}</div>
        </label>
    </div>
{% endmacro %}

{{ _('Up') }}
{{ _('Down') }}
{{ _('Sync') }}
{{ _('One-time')}}
{{ _('Manual') }}
{{ _('Free') }}
{{ _('Auto') }}
{{ _('up') }}
{{ _('down') }}
{{ _('sync') }}
{{ _('manual') }}
{{ _('free') }}
{{ _('Up: Update the local file synchronization to the site')}}
{{ _('Down: Download the site file synchronization to the local *')}}
{{ _('Sync: Local and site are synchronized with each other *') }}