<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="/static/datatables/datatables.min.css" type="text/css"> -->
    <link rel="stylesheet" href="/static/native.css" type="text/css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" src="/static/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/layer/layer.js"></script>
    <style type="text/css" media="screen">
      .layui-layer-prompt .layui-layer-input {
        width: 80% !important;
        display: inline-block !important;
        min-width: 280px;
      }
      .layui-layer-prompt .layui-layer-content::before {
        padding-right: 1em;
        vertical-align: top;
      }
      .layui-layer-dialog .layui-layer-content {
        line-height: 20px;
        font-size: 13px;
        padding: 15px 20px 15px 20px;
      }
      .layui-layer-prompt form label {
        margin-right: 1em;
      }
      .layui-layer-prompt .layui-layer-content p {
        margin-bottom: 10px;
      }
      .dataTables_empty {
        text-align: center;
      }
      .hidden {
        display: none;
      }
      table#progress {
        width: 100% !important;
      }
      table#progress td {
        cursor: pointer;
        word-wrap: break-word;
      }
      table#progress td:nth-child(1) {
        max-width: 6em;
        width: 4em;
      }
      table#progress td:nth-child(2) {
        max-width: 15em;
        width: 11em;
      }
      table#progress td:nth-child(3) {
        max-width: 27em;
        width: 20em;
      }
      table#progress td:nth-child(4) {
        max-width: 20em;
        width: 15em;
      }
      table#progress tbody tr:hover {
        background-color: #f5f5f4;
      }
      a {
        color: #08C;
        text-decoration: none;
      }
      .layui-layer-btn .layui-layer-btn0 {
        border-color: #DEDEDE !important;
        background-color: #F1F1F1 !important;
        color: #333 !important;
      }
      #description {
        margin-bottom: 10px; 
        padding: .4em .6em;
      }
      #operations {
        padding-top: 10px;
      }
      #newname {
        width: 100% !important;
      }
      .layui-layer-content p {
        -webkit-margin-before: 1px;
        -webkit-margin-after: 1px;
      }
      #operations .operation {
        display: none;
      }
      #operations.rename .operation.rename {
        display: block;
      }
      #operations.overwrite .operation.overwrite {
        display: block;
      }
      #operations.cancel .operation.cancel {
        display: block;
      }
      .failed {
        color: red;
      }
    </style>
  </head>
  <body>
    <div id="description">
      <p style="display: inline;">{{_('Recent file transfers')}}</p>
      <div class="pull-right">
        {{_('Filter')}}
        <select name="status" id="progress-status">
          <option value="" selected="selected">{{_('All status')}}</option>
          <option value="{{_('Ongoing')}}">{{_('Ongoing')}}</option>
          <option value="{{_('Finished')}}">{{_('Finished')}}</option>
          <option value="{{_('Failed')}}">{{_('Failed')}}</option>
          <option value="{{_('Duplicated')}}">{{_('Duplicated')}}</option>
        </select>
      </div>
    </div>
    <table id="progress" class="table-striped"></table>
  </body>
  <script type="text/javascript" src="/static/datatables/datatables.min.js"></script>

  <!-- 警告: 正在修整中 -->
  <script type="text/javascript">
    layer.config({scrollbar: false}); // 在弹层时禁用浏览器滚动条
    /** 增加 String.format 原型，让字符串格式化更直接 **/
    String.prototype.format = String.prototype.format || function () {
      "use strict";
      var str = this.toString();
      if (arguments.length) {
        var t = typeof arguments[0];
        var key;
        var args = ("string" === t || "number" === t) ?
          Array.prototype.slice.call(arguments)
          : arguments[0];

        for (key in args) {
            str = str.replace(new RegExp("\\{" + key + "\\}", "gi"), args[key]);
        }
      }
      return str;
    };

    /** 核心逻辑相关的全局变量：
     *  - data_table: 用来操作表格数据的 DataTables 对象；
     *  - i18n: 预先加载的翻译字符串，存放在这里面；
     *  - utils: 工具函数的集合；
    **/
    window.i18n = {
      task: {  // 任务相关
        upload: "{{_('Continuous upload')}}",
        download: "{{_('Download')}}",
        edit: "{{_('Edit')}}"
      },
      status: {  // 状态相关
        finished: "{{_('Finished')}}",
        failed: "{{_('Failed')}}",
        duplicated: "{{_('Duplicated')}}",
        running: "{{_('Ongoing')}}",
        renamed: "{{_('Renamed')}}",
        overwritted: "{{_('Overrwitted')}}",
        cancelled: "{{_('Cancelled')}}",
        limit_exceeded: "{{_('File size limit exceeded')}}",
        src_file_deleted: "{{_('Source file deleted')}}",
        paused: "{{_('Paused')}}",
        content_duplicated: "{{_('Content Duplicated')}}",
        denied: "{{_('Permission denied')}}",
        path_too_long: "{{_('File name is too long')}}"
      },
      misc: {
        up: "{{_('Upload')}}",
        down: "{{_('Download')}}",
        operation: "{{_('Operation')}}",
        status: "{{_('Status')}}"
      }
    };
    window.utils = {
      is_failed_status: function(status_string) {
        return (
          (status_string === i18n.status.duplicated) ||
          (status_string === i18n.status.failed) ||
          (status_string === i18n.status.denied) ||
          (status_string === i18n.status.limit_exceeded) ||
          (status_string === i18n.status.src_file_deleted) ||
          (status_string === i18n.status.content_duplicated) ||
          (status_string === i18n.status.path_too_long)
        );
      },
      ajax: function(url, data, callback) {  // $.ajax 的简单封装，不需要传那么多参数
        // callback 格式: function(response, xhr, error){}
        callback = (typeof callback === 'function') ? callback : new Function;
        $.ajax({
          cache: false,
          url: url,
          data: data,
          method: 'POST',
          dataType: 'json',
          traditional: false,
          success: function(response, _, xhr){return callback(response, xhr, null);},
          error: function(xhr, _, thrownError){return callback(null, xhr, thrownError);}
        });
        return false;
      },
      clear_table_rows: function() {  // 清理过多的表格行，避免影响性能。目前是保留 200 行，超过的话会从最旧（最底部）的行逐一删除
        var overflow = data_table.data().length - 200;
        if(overflow > 0){
          // TODO 改进检测性能
          data_table.rows(function(index, data, node){
            if(overflow > 0 && (data.status === i18n.status.finished)){
              overflow = overflow - 1;
              return true;
            }
            return false;
          }, { order: 'index' }).remove();
        }
      },
      /** 渲染「状态」字段 **/
      render_status: function(row) {
        var status = row.status;
        if(utils.is_failed_status(status)){
          var template = '<span\
              class="status {classes}" title="{title}"\
              data-worker_id="{worker_id}"\
              data-fpath="{fpath}"\
              data-task="{task}"\
              data-direction="{direction}">\
              {status}\
              </span>',
            data = {classes: 'failed', title: '', status: status};

          if (row.status === i18n.status.duplicated || row.status === i18n.status.content_duplicated) {
            data = {
              classes: 'failed',
              worker_id: row.worker_id,
              fpath: row.fpath,
              task: row.task,
              direction: row.direction,
              title: '',
              status: status + ' <i class="fa fa-wrench cursor-pointer"></i>'
            };
            data.classes += (row.status === i18n.status.duplicated ? ' duplicated' : ' content_duplicated');
          }
          row.error_code && (data.title += '错误码: ' + row.error_code + '; ');
          row.error_msg && (data.title += '&#013;&#10;错误信息: ' + row.error_msg + '; ');
          row.error_detail && (data.title += '&#013;&#10;错误详情: ' + row.error_detail);

          return template.format(data);
        }

        if (status === i18n.status.stopped) {
          return i18n.status.stopped;
        } else {
          if (row.progress < 100) {
            return status ? status : row.progress + '%';
          }
          return status || i18n.status.finished;
        }
      },
      /** 从数据表中移除一行
       *  row: 要移除的行
       *  redraw: true / false 移除后是否立刻重绘表格
      **/
      remove_row: function(row, redraw){
        if (typeof redraw === 'undefined') redraw = true;
        var api = data_table.rows(function(index, data, node){
          return data.index === row.index;
        }).remove();
        redraw && api.draw(false);
      },
      /** 处理一个重名文件
       *  action: 如何操作，可以是 rename / override / cancel
       *  item: 原始的表格数据行
       *  data: 执行这个操作所需要的特定数据
      **/
      process_duplicated_item: function(action, item, data) {
        if (!action) {
          console.warn('No action when process item', item);
          return;
        }
        var worker_args = {
          operation: action,
          dup_list_id: item.worker_id,
          token: item.worker_db.token,
          account: item.worker_db.account,
          instance: item.worker_db.instance,
          server: item.worker_db.server,
          oc_server: item.worker_db.oc_server,
          setprivate: item.worker_db.setprivate || null,
          version: '*',
          build_number: '*'
        }
        $.each(data, function(k, v){ worker_args[k] = v; });
        utils.ajax('/worker/new/process_duplicate', worker_args, function(worker, xhr, error){
          // 创建任务的请求出错，或者任务重复
          if (error || worker.worker_id === 0) { return; }

          action === 'rename' && layer.msg('将上传为 '+data.filename);
          data_table.row(function(i, data, node){
            return data.index === item.index;
          }).remove().draw(false);
          console.info('Removed', item.index, item);
          // 因为某些原因，任务没有马上启动，手动启动一下
          !worker.is_alive && utils.ajax('/worker/start', worker);
        });
      }
    };

    window.data_table = $('#progress').DataTable({
      autoWidth: false,
      columns: [  // 表格中的字段定义（注意：即使没有在此处定义，也可以随意向行对象中存储任意数据）
        {
          // 这个列只用来（内部）排序，实际不显示
          data: 'index',
          title: 'Index',
          searchable: false,
          visible: false
        },
        {
          // 上传 or 下载
          data: 'direction',
          title: i18n.misc.operation,
          searchable: false,
          orderable: false,
          render: function(data, type, row, meta){
            return '<span style="cursor: pointer;">'+i18n.misc[data]+'</span> ';
          }
        },
        {
          data: 'status',
          title: i18n.misc.status,
          orderable: false,
          render: function(data, type, row, meta){
            if(type !== 'display' && (type !== 'filter')){ return data; }
            if(type === 'filter'){  // DataTables 内部搜索（过滤表格行）
              if(!data){
                return row.status === i18n.status.stopped
                  ? i18n.status.stopped
                  : (
                      (row.progress || 0) < 100
                      ? i18n.status.running
                      : i18n.status.finished
                    );
              }
              return data;
            }

            return utils.render_status(row);
          }
        },
        {
          data: 'filename',
          title: "{{_('Filename')}}",
          searchable: false,
          orderable: false,
          render: function(data, type, row, meta) {
            if(type !== 'display') { return data; }
            return '<span style="color: #08c; cursor: pointer;">' + data + '</span>';
          }
        },
        {
          data: 'size',
          title: "{{_('Size')}}",
          searchable: false,
          orderable: false
        },
        {
          data: 'task',  // 存储任务名，用于.filter()
          orderable: false,
          searchable: false,
          visible: false
        }
      ],
      ordering: true,
      orderFixed: [[0, 'desc']], // 按index字段降序排序
      paging: false,
      info: false,
      searching: true,
      dom: 't', // 只显示表格，不需要搜索、排序、分页、信息等组件
      language: {  // DataTables 内部字符串的翻译
        "sProcessing": "{{_('Processing...')}}",
        "sEmptyTable": "{{_('No item in table')}}",
        "sZeroRecords":  "{{_('No matching result')}}"
      }
    });

    function filter_items(item) {  // 按给定的数据，过滤出表格中匹配的行
      var worker_id = item.worker_id,
          fpath = item.fpath,
          task = item.task,
          direction = item.direction;
      return data_table.data().filter(function(row, index, api){
        return (
          row.worker_id === worker_id &&
          row.fpath === fpath &&
          row.task === task &&
          row.direction === direction
        );
      });
    };
    const all_fields = [  // 更新或插入行时，这些数据被替换修改
      'filename', 'size', 'status', 'direction',
      'progress', 'uid', 'worker_db',
      'task', 'error_code', 'error_msg', 'error_detail'
    ];

    function update_row(item) {  // 使用 DataTables 更新一行或插入一个新行
      var existing_items = filter_items(item),
        should_remove_existing_items = false;

      // 更新已有的行
      if (existing_items.length > 0) {
        var existing_item = existing_items[existing_items.length - 1];
        // 进度更新的具体处理逻辑是：
        // 1. 文件传输出错或成功（即状态为已完成） => 重新传输时更新进度 => 删除旧的行，插入新行
        // 2. 文件传输未结束 => 更新进度 => 原处修改已有的行
        // 总体来说，是同一个任务、同一个方向的同一个文件，只保留一行记录
        if (existing_item.status === i18n.status.finished || utils.is_failed_status(existing_item.status)) {
          // 这里判断 uid 的原因是，上传文件时记录的是目录的 uid，到了上传完成后再将文件的 uid 更新到相应的传输进度行，因此传输完成后需要可以更改 uid
          should_remove_existing_items = item.status !== existing_item.status || item.uid !== existing_item.uid;
        } else {
          $.each(all_fields, function(_, field){
            if (typeof item[field] !== 'undefined' && item[name] !== null) {
              existing_item[field] = item[field];
            }
          });
          return existing_items.rows().invalidate();
        }
      }

      // 插入新行
      $.each(all_fields, function(_, field){
        if (typeof item[field] === 'undefined') { item[field] = ''; }
      });
      item.index = data_table.data().reduce(function(prev, entry) {
        return prev === undefined || entry.index > prev ? entry.index : prev;
      }, -1) + 1;
      should_remove_existing_items && utils.remove_row(existing_item);
      if (existing_items.length === 0 || should_remove_existing_items) {
        data_table.rows.add([item]);
        // 正好清理一下多余的行
        utils.clear_table_rows();
        // 手动重绘
        data_table.draw();
      }
    };

    function remove_row(item) {
      // 删除特定任务的某些状态的进度行
      existing_items = data_table.data().filter(function(row, index, api) {
        return row.worker_id == item.worker_id && row.status == item.status;
      });
      $.each(existing_items, function(index, value) { utils.remove_row(value); });
      data_table.draw();
    }

    $(document).ready(function() {
      $(document).on('change', '#progress-status', function() {
        /** 右上角点击切换select控件，以选中的任务状态来过滤表格内容 **/
        data_table.search($(this).children("option:selected").val()).draw();

      }).on('click', '.dataTable tbody tr', function(e) {
        // 点击的时候表格还是空的，不做任何事情
        if (e.target.className === 'dataTables_empty') { return false; }

        // 点到某个文件进度行，显示所属任务的详情
        var row_data = data_table.row(this).data(),
            worker_id = row_data.worker_id,
            status = row_data.status;
        return utils.ajax('/worker/state', {worker_id: worker_id}, function(worker, request){
          if (404 === request.status) {
            layer.msg("关联任务信息已经被删除，不能查看");
          } else {
            worker['additional_data'] = JSON.stringify({
              error_detail: row_data.error_detail,
              file: {
                name: row_data.filename,
                path: row_data.fpath,
                uid: row_data.uid
              }
            });
            utils.ajax('/ui/report_detail', worker);
          }
        });
      });
    });
    // 禁止选择页面上的文字
    document.onselectstart = function(e){ return false; };
    function enable_selection(){
      document.onselectstart = null;
    };
  </script>
  {% include 'partials/process_filename_duplication.html' %}
  {% include 'partials/process_filecontent_duplication.html' %}
</html>
