<ul class="nav nav-tabs" id="tabcontrol">
  <li class="{% if request.path.startswith('/admin/worker') %}active{% endif %}">
    <a href="/admin/worker">{{_('Tasks')}}</a>
  </li>
  {% if not g.get('headless') %}
    <li class="{% if request.path == '/admin/site_file' %}active{% endif %}">
      <a href="/admin/site_file">{{_('Files')}}</a>
    </li>
  {% endif %}
  <li class="{% if request.path == '/admin/locks' %}active{% endif %}">
    <a href="/admin/locks">{{_('Locks')}}</a>
  </li>
  <li class="{% if request.path == '/admin/manage_connections' %}active{% endif %}">
    <a href="/admin/manage_connections">{{_('Site Connection')}}</a>
  </li>
  <li class="{% if request.path == '/admin/viewlog' %}active{% endif %}">
	<a href="/admin/viewlog?name=webserver">{{_('Web server log')}}</a>
  </li>
  {% if request.path == '/admin/linux_update' %}
    <li class="active">
      <a href="/admin/linux_update">{{_('Update (Linux)')}}</a>
    </li>
  {% endif %}

  {% if False %}
  <li class="{% if request.path == '/admin/default_progs' %}active{% endif %}">
    <a href="/admin/default_progs">{{_('edit programs')}}</a>
  </li>
  {% endif %}
</ul>
