<div class="well well-small advanced-links">
  <a href="/admin/viewlog?name=webserver" class="viewlog" data-name="webserver">
    {{_('Web server log')}}
  </a>
  <a href="/admin/manage_connections" target="_blank">
    {{_('Site')}}
  </a>

  <span>调试用：</span>
  <a href="/worker/progress" target="_blank">Progress</a>
  <a href="/admin/web_folder" target="_blank">Webfolders</a>
  <a href="/sync/manage" target="_blank">Syncfolders</a>
  <a href="/admin/worker_list" target="_blank">Tasks</a>
</div>
