{% extends "manager_base.html" %}
{% block styles %}
{{ super() }}
    <style type="text/css">
      #webfolder-description {
        padding: .4em .6em;
      }
    </style>
{% endblock %}

{% block content %}
    {% if not supported_platform %}
    <div class="text-center alert alert-info">
      {{_('This current version WebFolder does not support this OS')}}
    </div>
    {% elif not dokan_installed %}
      <section>
        <p>{{_('Webfolder is currently unavailable as the dependencies have not been installed.')}}</p>
        <p>{{_('Please follow these steps to fix it:')}}</p>
        <ol>
          {% if not dot_net_installed %}
          <li><a id="install_dot_net" onclick="native.installDotNet(); return false;">{{_('Install .Net 4.0 runtime')}}</a></li>
          {% endif %}
          <li><a id="install_dokan" onclick="native.installDokanLibrary(); return false;">{{_('Install webfolder driver program as Administrator')}}</a></li>
        </ol>
        <p>{{_('Notice: Maybe you should restart your computer to take effect after the installation is complete.')}}</p>
      </section>
    {% else %}
      <p id="webfolder-description">
        {{_(
          'Mount site folders as disk drives in your computer'
        )}}
      </p>
      {% if not workers %}
      <div class="text-center alert alert-info">
        {{_('No netdrive')}}
      </div>
      {% else %}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>{{_('Location')}}</th>
            <th>{{_('Folder')}}</th>
            <th>{{_('Operation')}}</th>
          </tr>
        </thead>
        <tbody>
          {% for worker in workers %}
          <tr>
            <td>
              {% if worker.mountpoint %}
                <a href="/ui/open" class="localpath-control-open" data-path="{{worker.mountpoint}}">
                  {{worker.mountpoint}}
                </a>
              {% else %}
                <p style="color: red;">{{_('Failed')}}</p>
              {% endif %}
            </td>
            <td>
              <a href="{{worker.uid_url}}" title="{{_('Click to visit')}}" class="browser_open">
                {{worker.folder_name}}
              </a>
            </td>
            <td>
              <a class="worker-control" href="/desktop/remove_webfolder" data-build_number="{{build_number}}" data-worker_id="{{worker.worker_id}}">
                {% if worker.mountpoint %}
                  {{_('Unmount')}}
                {% else %}
                  {{_('Delete')}}
                {% endif %}
              </a>
              <a class="worker-detail" href="/ui/report_detail" data-worker_id="{{worker.worker_id}}">
                {{_("Detail")}}
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    {% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  $(document.body).on('click', 'a.localpath-control-open', function(e){
    var local_path = $.trim($(this).data('path')) || $.trim($(this).text());
    window.console && console.log(local_path);
    $.ajax({
      etarget: $(this),
      url: $(this).attr('href'),
      cache: false,
      dataType: 'JSON',
      data: {
        local_path: local_path
      },
      type: 'POST'
    });
    return false;
  }).on('click', 'a.worker-control', function(e){
    var _row = $(this).closest('tr');
    $.ajax({
      etarget: $(this),
      url: $(this).attr('href'),
      dataType: 'JSON',
      data: {
        build_number: $(this).data('build_number'),
        worker_id: $(this).data('worker_id')
      },
      type: 'POST',
      success: function(result){
        setTimeout(function(){
          window.location.reload();
        }, 1 * 1000);
      }
    });
    return false;
  }).on('click', 'a.browser_open', function(e){
    $.ajax({
        cache: false,
        url: '/ui/browser_open',
        type: 'POST',
        data: {
            href: $(this).attr('href')
        },
        dataType: 'json'
    });
    return false;
  }).on('click', 'a.worker-detail', function(e) {
    $.ajax({
      cache: false,
      url: $(this).attr('href'),
      type: 'POST',
      data: {
        worker_id: $(this).data('worker_id')
      },
      dataType: 'json'
    });
    return false;
  });

</script>
{% endblock %}
