{% extends "base.html" %}

{% block main_content %}
  <div class="tab-pane active" id="workers">
    {% if not workers %}
      <div colspan="9" class="text-center alert alert-info">
        {{_('No task')}}
      </div>
    {% else %}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>{{_('Name')}}</th>
            <th class="sort" data-sort="int">{{_('Started')}}</th>
            <th class="sort" data-sort="int">{{_('Finished')}}</th>
            <th class="sort" data-sort="string">{{_('Status')}}</th>
            <th>{{_('Operation')}}</th>
          </tr>
        </thead>
        <tbody>
          {% for worker in workers %}
            <tr>
              {% if worker.detail.auto %}
                <td class="info">
                  <i class="icon-time"></i>{{_('auto')}} {{_(worker.title) | lower}}
                </td>
              {% else %}
                <td>{{_(worker.title)}}</td>
              {% endif %}

              <td class="worker_start" data-sort-value="{{worker.detail.start_timestamp}}">
                {% if worker.detail.start_time %}
                  {{worker.detail.start_time}}
                {% else %}
                  {{_('Not started yet')}}
                {% endif %}
              </td>
              <td class="worker_end" data-sort-value="{{worker.detail.end_timestamp}}">
                {% if worker.state in ('finished', 'error') and worker.detail.end_time %}
                  {{worker.detail.end_time}}
                {% else %}
                  {{_('Not finished yet')}}
                {% endif %}
              </td>
              <td class="worker_state
                {% if worker.state == 'finished' %}
                  success
                {% elif worker.state == 'error' %}
                  error
                {% elif worker.state == 'paused' %}
                  warning
                {% elif worker.state == 'prepare' %}
                  warning
                {% elif worker.state == 'running' %}
                  info
                {% endif %}
                ">
                <a href="/admin/worker_detail?worker_id={{worker.worker_id}}" title="{{_('View detail')}}">
                  {% if worker.state == 'running' %}
                    {{_('Running')}}
                  {% elif worker.state == 'finished' %}
                    {% if worker.detail.auto %}
                      {{_('Waiting')}}
                    {% else %}
                      {{_('Finished')}}
                    {% endif %}
                  {% elif worker.state == 'paused' %}
                    {{_('Paused')}}
                  {% elif worker.state == 'error' %}
                    {{_('Error')}}
                  {% elif worker.state =='prepare' %}
                    {{_('Preparing')}}
                  {% endif %}
                  <i class="icon-share"></i>
                </a>
              </td>
              <td>
                {% if worker.name == 'edit' and worker.state == 'running' %}
                {% else %}

                  {% if worker.state == 'running' %}
                    <a class="worker-control" href="/worker/pause" data-build_number="{{build_number}}" data-worker_id="{{worker.worker_id}}">
                      {{_('Pause')}}
                    </a>
                  {% elif worker.state == 'paused' %}
                    <a class="worker-control" href="/worker/start" data-build_number="{{build_number}}" data-worker_id="{{worker.worker_id}}">
                      {{_('Continue')}}
                    </a>
                  {% elif worker.state == 'error' %}
                    <a class="worker-control" href="/worker/start" data-build_number="{{build_number}}" data-worker_id="{{worker.worker_id}}">
                      {{_('Retry')}}
                    </a>
                  {% elif worker.state == 'finished' %}
                    {% if worker.detail.auto %}
                      <a class="worker-control" href="/worker/start" data-build_number="{{build_number}}" data-worker_id="{{worker.worker_id}}">
                        {{_('Start')}}
                      </a>
                      <a class="worker-control" href="/worker/pause" data-build_number="{{build_number}}" data-worker_id="{{worker.worker_id}}">
                        {{_('Pause')}}
                      </a>
                    {% endif %}
                  {% endif %}
                  <a class="worker-control" href="/worker/cancel" data-build_number="{{build_number}}" data-worker_id="{{worker.worker_id}}">
                    {{_('Detele')}}
                  </a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ anchor_loading() }}
<script type="text/javascript">
  $('table').stupidtable();
  $('#workers table thead th').eq(1).stupidsort('desc');
  $('a.worker-control').on('click', function(e){
    var _row = $(this).closest('tr');
    $.ajax({
      etarget: $(this),
      url: $(this).attr('href'),
      dataType: 'JSON',
      data: {
        build_number: $(this).data('build_number'),
        worker_id: $(this).data('worker_id')
      },
      type: 'POST',
      success: function(result){
        setTimeout(function(){
          window.location.reload();
        }, 1 * 1000);
      }
    });
    return false;
  });

</script>
{% endblock %}
